# Lab - working with online data

In this Lab , you will load , clean and store online flights data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import datetime
%matplotlib inline

In [2]:
import requests
import json

# Load the data

In [3]:
r = requests.get("https://data.gov.il/api/3/action/datastore_search?resource_id=e83f763b-b7d7-479e-b172-ae981ddc6de5&limit=5000")

In [4]:
res = json.loads(r.content)

In [5]:
df = pd.DataFrame(res['result']['records'])

## display the first rows

In [6]:
#first 10 rows:
df.head(10)

,_id,CHOPER,CHFLTN,CHOPERD,CHSTOL,CHPTOL,CHAORD,CHLOC1,CHLOC1D,CHLOC1TH,CHLOC1T,CHLOC1CH,CHLOCCT,CHTERM,CHCINT,CHCKZN,CHRMINE,CHRMINH
0,1,IZ,829,ARKIA ISRAELI AIRLINES,2024-03-02T18:30:00,2024-03-02T18:34:00,D,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,G12-G18,G,DEPARTED,המריאה
1,2,LX,253,SWISS INT`L AIRLINES,2024-03-02T18:20:00,2024-03-02T18:42:00,D,ZRH,ZURICH,ציריך,ZURICH,שוויץ,SWITZERLAND,3,26-33,A,DEPARTED,המריאה
2,3,IZ,1844,ARKIA ISRAELI AIRLINES,2024-03-02T19:15:00,2024-03-02T19:26:00,A,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,None,None,LANDED,נחתה
3,4,IZ,604,ARKIA ISRAELI AIRLINES,2024-03-02T18:40:00,2024-03-02T19:31:00,A,DXB,DUBAI,דובאי,DUBAI,איחוד האמירויות הערב,UNITED ARAB EMIRATES,3,None,None,LANDED,נחתה
4,5,U8,108,TUS AIRWAYS,2024-03-02T20:00:00,2024-03-02T19:51:00,A,LCA,LARNACA,לרנקה,LARNACA,קפריסין,CYPRUS,3,None,None,LANDED,נחתה
5,6,W9,4451,WIZZ UK,2024-03-02T21:05:00,2024-03-02T20:38:00,A,LTN,LUTON,לונדון לוטון,LONDON LUTON,בריטניה,UNITED KINGDOM,3,None,None,LANDED,נחתה
6,7,BZ,701,BLUE BIRD AIRWAYS,2024-03-02T15:35:00,2024-03-02T20:41:00,A,ATH,ATHENS,אתונה,ATHENS,יוון,GREECE,3,None,None,LANDED,נחתה
7,8,IZ,820,ARKIA ISRAELI AIRLINES,2024-03-02T21:05:00,2024-03-02T21:01:00,A,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,None,None,LANDED,נחתה
8,9,IZ,1845,ARKIA ISRAELI AIRLINES,2024-03-02T20:10:00,2024-03-02T21:06:00,D,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,G12-G18,G,DEPARTED,המריאה
9,10,U8,109,TUS AIRWAYS,2024-03-02T21:00:00,2024-03-02T21:12:00,D,LCA,LARNACA,לרנקה,LARNACA,קפריסין,CYPRUS,3,60-63,C,DEPARTED,המריאה

### display the last 10 rows - What's wrong?

In [ ]:
df.tail(10)
# part of data doesn't exist! "None"

# clean the data

how many rows contains empty strings for each Column? (use a for loop to display the column name and percentage)

In [ ]:
df=df.drop(columns=['CHCINT','CHCKZN']) 
df

In [ ]:
rowsNo=df.shape[0]
for i in range (len(df.columns)):
    NotNull=df[df.columns[i]].count() #count-without nulls
    print(df.columns[i],': ',round((rowsNo-NotNull)/rowsNo*100,2),'%')

drop the empty rows

In [ ]:

for i in range (len(df.columns)):
    df.dropna(subset=[df.columns[i]], inplace=True)

'''check:
rowsNo=df.shape[0]
for i in range (len(df.columns)):
    NotNull=df[df.columns[i]].count() #count-without nulls
    print(df.columns[i],': ',round((rowsNo-NotNull)/rowsNo*100,2),'%')
=> percent of null=0 for each column
'''
df

format the current date with underscore separation (%d_%m_%y)

In [ ]:
# pd.to_datime('date',format='%d_%m_%Y')=> not work on df
# df['CHSTOL']=df['CHSTOL'].str[8:10]+'_'+df['CHSTOL'].str[5:7]+'_'+df['CHSTOL'].str[:4]
import datetime as dt
d=str(dt.datetime.now())
currentDate=d[8:10]+'_'+d[5:7]+'_'+d[:4]
currentDate

Drop the _id column

In [ ]:
df=df.drop(columns='_id') 
df

save the raw data (add the current date to the file name)

In [ ]:
import os
os.chdir('C:\jupyterFiles\Python Project')
with open('cleandata-'+currentDate+'.csv','x') as f:
    df.to_csv(f)

select the airline code and name without duplicates (CHOPER,CHOPERD)

In [ ]:
airline_update=df[['CHOPER','CHOPERD']].drop_duplicates()
airline_update.shape

Load the file airlines.csv and merge it with a new data and save the file 'airline.csv'

In [ ]:
airline_update
#SK for example doesn't exist in airlines.csv

In [ ]:
airlines=pd.read_csv('airlines.csv')
airlines

In [ ]:
update_1=pd.concat([airlines,airline_update],ignore_index=True).drop_duplicates()
update_1.to_csv('C:\\jupyterFiles\\Python Project\\airlines.csv')

Drop the Airline name column

In [ ]:
df=df.drop(columns='CHOPERD') 
df

Do the same task with airports (CHLOC1,CHLOC1D) and save the file 'airports.csv'

In [ ]:
airport_update=df[['CHLOC1','CHLOC1D']].drop_duplicates()
airport_update.shape

In [ ]:
airport_update
#AER for example doesn't exist in airports.csv

In [ ]:
airports=pd.read_csv('airports.csv')
airports

In [ ]:
update_2=pd.concat([airports,airport_update],ignore_index=True).drop_duplicates()
update_2.to_csv('C:\\jupyterFiles\\Python Project\\airports.csv')

In [ ]:
df=df.drop(columns='CHLOC1D') 
df

drop the hebrew columns 'CHLOC1TH','CHLOC1CH','CHRMINH'

In [ ]:
df=df.drop(columns=['CHLOC1TH','CHLOC1CH','CHRMINH']) 
df

### rename the columns

In [ ]:
df2=df.rename(columns={'CHOPER':'Airline','CHFLTN':'FlightNum','CHSTOL':'PlanTime','CHPTOL':'ActualTime','CHAORD':'Direction','CHLOC1':'Airport','CHLOC1T':'City','CHLOCCT':'Country','CHTERM':'Terminal','CHRMINE':'Status'})
df2

Change the PlanTime and ActualTime columns type to np.datetime64

In [ ]:
df2[['PlanTime','ActualTime']]=df2[['PlanTime','ActualTime']].astype('datetime64[ms]')
df2

Save the clean data

In [ ]:
df2.to_csv('C:\\jupyterFiles\\Python Project\\cleandata-'+currentDate+'.csv')

update the file final.csv with departed, landed and canceled flights only

In [ ]:
df2=df2[(df2['Status']=='DEPARTED') | (df2['Status']=='LANDED') |(df2['Status']=='CANCELED')]

In [ ]:
final=pd.read_csv('final.csv')
(pd.concat([final,df2],ignore_index=True)).to_csv('C:\\jupyterFiles\\Python Project\\final.csv')

Add a new column for total delay in minutes

In [ ]:
final=pd.read_csv('final.csv')
final['PlanTime'] = pd.to_datetime(final['PlanTime'])
final['ActualTime'] = pd.to_datetime(final['ActualTime'])

# Calculate the difference between the actual arrival time and the planned departure time
diff = (final['ActualTime'] - final['PlanTime']).dt.total_seconds() / 60  # Difference in minutes

# Show the updated DataFrame
final.insert(5,'TimeDifference',diff)
final

In [ ]:
final.to_csv('C:\\jupyterFiles\\Python Project\\final.csv')

What is the average delay for departed flights

In [ ]:
AvgDelayDeparted=round(final[final['Status']=='DEPARTED'].TimeDifference.mean(),1)
print('The average delay for departed flights:',AvgDelayDeparted,'minutes')

Display total delay distribution

In [ ]:
final['TimeDifference'].plot().set(title="Total Delay Distribution")
plt.show()

In [ ]:
# Total delay by Stutus:
plt.figure(figsize=(12,6) ,dpi=75)
plt.style.use('fivethirtyeight')
plt.title('Total Delay by Stutus' , fontsize = 18 , color = 'r')
final.groupby('Status')['TimeDifference'].sum().sort_values(ascending=False).plot(kind='bar')
plt.xlabel('Status',color='blue')
plt.xticks(rotation=0)
plt.ylabel('Total Delay' , rotation=0 , loc = 'top',color='blue')
plt.yticks([-1000,0,1000,2000,3000,4000,5000],labels= ['-1000min','0 min' , '1000 min' , '2000min' ,'3000min' , '4000min' , '5000min'])
plt.show()

In [ ]:
x=final.groupby(final['Airport']).TimeDifference.sum().sort_values().head(5)
y=final.groupby(final['Airport']).TimeDifference.sum().sort_values().head(5)
plt.show()
#most airports delay and most in time